body {
  background-color: #1a1a1a;
  color: white;
}
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}

.nav-link:hover {
    color: #9acdcd;
    text-decoration: none;
}

.nav-link {
    color: #739b9b;
}

p {
    color: #cdcdcd;
}

a {
    color: #639b9b;
}

a:hover {
    color: #9acdcd;
    text-decoration: none;
}

#headshot {
    padding: 40px;
    background: rgba(206, 206, 206, 0.5);
}
