<div class="navigation text-center mx-5 my-2">
    <div class="row">
        <h3 class="col-4 pt-4 font-weight-light d-flex justify-content-around">
            <div class="row ">
                <a class="nav-link" href="{{ url_for('links') }}">Frivolity</a>
                <a class="nav-link" href="{{ url_for('projects') }}">Projects</a>
            </div>
        </h3>
        <h1 class="col-5 pt-2 display-4">
            <a class="nav-link" href="{{ url_for('hello_world') }}">Rene Ferguson</a>
        </h1>
        <h3 class="col-3 pt-4 font-weight-light d-flex justify-content-around">
            <div class="row">
                <a class="nav-link" href="{{ url_for('links') }}">Links</a>
            <a class="nav-link" href="{{ url_for('links') }}">Bio</a>
            </div>
        </h3>
    </div>
</div>